{% extends 'dashboard/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block conteudo %}
<section class="card p-4" style="border: 0;">
    
    <form method="post" ">
        {% csrf_token %}
        
        {% bootstrap_form form %}
        
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                    {% for field, errors in form.errors.items %}
                        <img src="{{ field.foto_perfil.url }}" alt="" width="25px" class="rounded-circle">
                        <li>{{ field.label }}: {{ errors|join:", " }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'gambiarra:detalhes' pk=chamado.pk %}" class="btn btn-terciary ms-2">Voltar</a>
    </form>
</section>
{% endblock %}
