{% extends 'dashboard/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block conteudo %}
    <link rel="stylesheet" href="aceitar.css">


    <div class="card">
        <div class="card-header">
            Detalhes do Chamado
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <div class="info-box bg-light">
                        <div class="card-title">Nome</div>
                        <div>{{ chamado.cliente }}</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="info-box bg-light">
                        <div class="card-title">Equipamento</div>
                        <div>{{ chamado.item.modelo }}</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="info-box bg-light">
                        <div class="card-title">Problema</div>
                        <div>{{chamado.item.problema}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div>
                        <div class="user-info">
                            <img src="https://via.placeholder.com/30" class="rounded-circle">
                            {{ chamado.cliente }} <span>Enviado - 7:45 21/07/2024</span>
                        </div>
                        <p>{{ chamado.descricao }}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="status text-right">
                        Status:
                        {{ chamado.get_status_display }}
                    </div>
                    <div class="file-section mt-3">
                        <!-- <div class="card-title">Arquivos</div>
                        <ul class="file-list">
                            <li><a href="#">Video.mp4</a></li>
                            <li><a href="#">Foto.png</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>

            
            <div class="text-right mt-3">
                {% if chamado.cliente == request.user %}
                    <button class="btn btn-success mr-2">Abrir Chat</button>

                {% else %}
                    <button class="btn btn-success mr-2">Aceitar Chamado</button>
                    <button class="btn btn-danger">Recusar chamado</button>
                {% endif %}
            </div>
        </div>
    </div>
    <section>
        <style> 
            /* css do chat */
			#chat2 .form-control {
			border-color: transparent;
			}
		
			#chat2 .form-control:focus {
			border-color: transparent;
			box-shadow: inset 0px 0px 0px 1px transparent;
			}
		
			.divider:after,
			.divider:before {
			content: "";
			flex: 1;
			height: 1px;
			background: #eee;
			}
		
			/* Adicione o estilo para permitir o scroll */
			#chat2 .card-body {
			overflow-y: auto; /* Permite o scroll vertical */
			overflow-x: hidden; /* Evita scroll horizontal */
			height: 400px; /* Assegura a altura definida */
			}
		</style>
            
		<div class="container py-5 ">
			<div class="row d-flex justify-content-between">
				<div class="card col-md-10 col-lg-8 col-xl-6 p-0">
					<div class="card-header">
						<h4>Arquivos</h4>
					</div>
						
					<div  id="carouselExampleIndicators" class="card-body d-flex justify-content-center w-100 carousel slide w-75" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
							<img class="d-block w-100" src="{% static 'gambiarra/img/pc.jpg'%}" alt="First slide">
							</div>
							<div class="carousel-item">
							<img class="d-block w-100" src="{% static 'gambiarra/img/pc.jpg'%}" alt="Second slide">
							</div>
							<div class="carousel-item">
							<img class="d-block w-100" src="{% static 'gambiarra/img/pc.jpg'%}" alt="Third slide">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>

				<div class="col-md-10 col-lg-8 col-xl-6">
					<div class="card w-100 h-100" id="chat2">

						<div class="card-header d-flex justify-content-between align-items-center p-3">
							<h5 class="mb-0">Chat</h5>
						</div>


						<div class="card-body" data-mdb-perfect-scrollbar-init id="message-container">
							
							{%for mensagem in mensagens%}
								
								{%if mensagem.autor == user %}
								
								<div class="d-flex flex-row justify-content-end mb-2 pt-1">
									<div>
										<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapseExample{{ forloop.counter }}"
										aria-expanded="false"
										aria-controls="collapseExample{{ forloop.counter }}">
											{{ mensagem.texto }}
										</p>
										<div class="collapse" id="collapseExample{{ forloop.counter }}">
											<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">
												{{ mensagem.data_envio }}
											</p>
										</div>
									</div>
									<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp" alt="avatar 1"
									style="width: 45px; height: 100%;">	
								</div>
								
								{%else%}
								
								<div class="d-flex flex-row justify-content-start mb-2">
									<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3	-bg.webp" alt="avatar 1"
									style="width: 45px; height: 100%;">
									<div>
										<p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapseExample{{ forloop.counter }}"
										aria-expanded="false"
										aria-controls="collapseExample{{ forloop.counter }}">
											{{ mensagem.texto }}
										</p>
										<div class="collapse" id="collapseExample{{ forloop.counter }}">
											<p class="small ms-3 mb-3 rounded-3 text-muted">
												{{ mensagem.data_envio }}
											</p>
										</div>
									</div>
									
								</div>
								
								{%endif%}
							{%endfor%}
				
						</div>

						<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
							<form method="post">
								{% csrf_token %}
								{%bootstrap_form mensagem_form%}
								<button class="btn btn-primary" >enviar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		window.onload = function() {
			var messageContainer = document.getElementById('message-container');
			messageContainer.scrollTop = messageContainer.scrollHeight;
		};
	</script>
{% endblock %}