{% extends "dashboard/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block conteudo %}

<section>
    
  <h2>Chamados</h2>
  {% for c in chamados %}
      <h3>
          {{c.titulo}}
      </h3>
      <p>{{c.descricao}}</p>
      <p>{{c.code}}</p>
      <p>{{c.professor.nome}}</p>
      {% for b in c.bolsistas.all %}
          {{ forloop.counter }}
          <p>{{b.nome}}</p>
      {% endfor %}
      <p>{{c.get_status_display}}</p>
  {% endfor %}
</section>
{% endblock %}
