{% extends "dashboard/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block conteudo %}

<div class="container">
    <section id="perfil">
        <div class="w-100">
            <img src="{% static 'gambiarra/img/banner-perfil.png' %}" class="img-fluid w-100 banner" alt="">
            <img src="{{ request.user.foto_perfil.url }}" class="img-fluid rounded-circle foto_perfil" alt="">
        </div>
        <div class="p-3">
            <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
            <i class="bi bi-envelope-fill me-2" style="font-size: 24px;">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#e8eaed">
                    <path
                        d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
                </svg>
            </i>
            <span>{{ request.user.email }}</span>
        </div>
    </section>

    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs w-100" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="todos-tab" data-bs-toggle="tab" href="#todos" role="tab">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pendentes-tab" data-bs-toggle="tab" href="#pendentes" role="tab">Pendentes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="aceitos-tab" data-bs-toggle="tab" href="#aceitos" role="tab">Aceitos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="fechados-tab" data-bs-toggle="tab" href="#fechados" role="tab">Fechados</a>
        </li>
    </ul>

    <!-- Tabs Content -->
    <div class="tab-content mt-4">
        <!-- Todos Tab -->
        <div class="tab-pane fade show active" id="todos" role="tabpanel" aria-labelledby="todos-tab">
            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col"><b>Código</b></th>
                        <th scope="col"><b>Título</b></th>
                        <th scope="col"><b>Status</b></th>
                        <th scope="col"><b>Professor</b></th>
                        <th scope="col"><b>Bolsista(s)</b></th>
                        <th scope="col"><b>Ações</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in chamados %}
                    <tr class="tr-dashboard">
                        <th scope="row">
                            {{c.code}}
                        </th>
                        <th>
                            {{c.titulo}}
                        </th>
                        <th>
                            {% if c.status == '1' %}
                            <span class="badge badge-secondary">{{ c.get_status_display }}</span>
                            {% elif c.status == '2' %}
                            <span class="badge badge-success">{{ c.get_status_display }}</span>
                            {% elif c.status == '3' or c.status == '4' %}
                            <span class="badge badge-info">{{ c.get_status_display }}</span>
                            {% elif c.status == '5' %}
                            <span class="badge badge-warning">{{ c.get_status_display }}</span>
                            {% elif c.status == '6' or c.status == '8' %}
                            <span class="badge badge-danger">{{ c.get_status_display }}</span>
                            {% elif c.status == '7' %}
                            <span class="badge badge-success">{{ c.get_status_display }}</span>
                            {% else %}
                            <span class="badge badge-secondary">{{ c.get_status_display }}</span>
                            {% endif %}

                        </th>
                        <th>
                            {% if c.professor %}
                            <img src="{{ c.professor.foto_perfil.url }}" alt="" width="25px" class="rounded-circle ">
                            {{c.professor}}
                            {% else %}
                            -
                            {% endif%}

                        </th>
                        <th scope="row">
                            {% if c.bolsistas.all %}
                            {% for b in c.bolsistas.all %}
                            <div class="mb-2 mt-2">
                                <img src="{{ b.foto_perfil.url }}" alt="Foto de perfil de {{ b.nome }}" width="25px"
                                    class="rounded-circle">
                                {{ b.nome }}
                            </div>
                            {% endfor %}
                            {% else %}
                            -
                            {% endif %}

                        </th>
                        <th>
                            <div class="button-group">
                                {% if request.user == c.cliente %}
                                <a href="{% url 'gambiarra:detalhes' c.pk %}">
                                    <button class="btn btn-primary btn-sm">Acessar</button>
                                </a>
                                {% if c.status >= '7' %}
                                <a type="button" data-toggle="modal" data-target="#exampleModal">
                                    <button class="btn btn-success btn-sm">Avaliar</button>
                                </a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ex
                                            ampleModalLabel">Avaliar chamado</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" action="{% url 'gambiarra:avaliar' c.pk %}">
                                            <div class="modal-body">

                                                {% csrf_token %}

                                                {% bootstrap_form avaliar %}

                                                {% if avaliar.errors %}
                                                <div class="error">
                                                    <ul>
                                                        {% for field, errors in avaliar.errors.items %}
                                                        <li>{{ field }}: {{ errors|join:", " }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endif %}


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-terciary btn-sm"
                                                    data-dismiss="modal">Fechar</button>
                                                <button type="submit" class="btn btn-primary">Avaliar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% else %}
                            {% if c.status == '1' %}
                            <a href="#"> <button class="btn btn-success btn-sm">Aceitar</button></a>
                            <button class="btn btn-danger btn-sm">Recusar</button>
                            {% endif %}
                            <a href="{% url 'gambiarra:detalhes' c.pk %}"> <button
                                    class="btn btn-primary btn-sm">Acessar</button></a>
                            {% if c.status != '7' %}
                            <button
                                class="btn btn-warning btn-sm text-white" data-toggle="modal" data-target="#confirmCloseModal">Encerrar</button>

                                <!-- modal encerramento -->
                                <div class="modal fade" id="confirmCloseModal" tabindex="-1" role="dialog"
                                    aria-labelledby="confirmCloseModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmCloseModalLabel">Confirmar Encerramento
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza de que deseja encerrar este chamado? Esta ação não pode ser
                                                desfeita.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-terciary"
                                                    data-dismiss="modal">Cancelar</button>
                                                <form method="post" action="{% url 'gambiarra:encerrar' c.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Encerrar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if c.status >= '7' %}
                            <a href="#">
                                <button class="btn btn-danger btn-sm">Arquivar</button>
                            </a>
                            {% endif %}

                            {% endif %}

                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pendentes Tab -->
        <div class="tab-pane fade" id="pendentes" role="tabpanel" aria-labelledby="pendentes-tab">
            {% for c in chamados %}
            {% if c.status == '1' %}
            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col"><b>Código</b></th>
                        <th scope="col"><b>Título</b></th>
                        <th scope="col"><b>Status</b></th>
                        <th scope="col"><b>Professor</b></th>
                        <th scope="col"><b>Bolsista(s)</b></th>
                        <th scope="col"><b>Ações</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-dashboard">
                        <th scope="row">
                            {{c.code}}
                        </th>
                        <th>
                            {{c.titulo}}
                        </th>
                        <th>
                            {% if c.status == '1' %}
                            <span class="badge badge-secondary">{{ c.get_status_display }}</span>
                            {% elif c.status == '2' %}
                            <span class="badge badge-success">{{ c.get_status_display }}</span>
                            {% elif c.status == '3' or c.status == '4' %}
                            <span class="badge badge-info">{{ c.get_status_display }}</span>
                            {% elif c.status == '5' %}
                            <span class="badge badge-warning">{{ c.get_status_display }}</span>
                            {% elif c.status == '6' or c.status == '8' %}
                            <span class="badge badge-danger">{{ c.get_status_display }}</span>
                            {% elif c.status == '7' %}
                            <span class="badge badge-success">{{ c.get_status_display }}</span>
                            {% else %}
                            <span class="badge badge-secondary">{{ c.get_status_display }}</span>
                            {% endif %}

                        </th>
                        <th>
                            {% if c.professor %}
                            <img src="{{ c.professor.foto_perfil.url }}" alt="" width="25px" class="rounded-circle ">
                            {{c.professor}}
                            {% else %}
                            -
                            {% endif%}

                        </th>
                        <th scope="row">
                            {% if c.bolsistas.all %}
                            {% for b in c.bolsistas.all %}
                            <div class="mb-2 mt-2">
                                <img src="{{ b.foto_perfil.url }}" alt="Foto de perfil de {{ b.nome }}" width="25px"
                                    class="rounded-circle">
                                {{ b.nome }}
                            </div>
                            {% endfor %}
                            {% else %}
                            -
                            {% endif %}

                        </th>
                        <th>
                            <div class="button-group">
                                {% if request.user == c.cliente %}
                                <a href="{% url 'gambiarra:detalhes' c.pk %}">
                                    <button class="btn btn-primary btn-sm">Acessar</button>
                                </a>
                                {% if c.status >= '7' %}
                                <a type="button" data-toggle="modal" data-target="#exampleModal">
                                    <button class="btn btn-success btn-sm">Avaliar</button>
                                </a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ex
                                                            ampleModalLabel">Avaliar chamado</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" action="{% url 'gambiarra:avaliar' c.pk %}">
                                            <div class="modal-body">

                                                {% csrf_token %}

                                                {% bootstrap_form avaliar %}

                                                {% if avaliar.errors %}
                                                <div class="error">
                                                    <ul>
                                                        {% for field, errors in avaliar.errors.items %}
                                                        <li>{{ field }}: {{ errors|join:", " }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endif %}


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-terciary btn-sm"
                                                    data-dismiss="modal">Fechar</button>
                                                <button type="submit" class="btn btn-primary">Avaliar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% else %}
                            {% if c.status == '1' %}
                            <a href="{% url 'gambiarra:aceitar' c.pk %}"> <button
                                    class="btn btn-success btn-sm">Aceitar</button></a>
                            <button class="btn btn-danger btn-sm">Recusar</button>
                            {% endif %}
                            <a href="{% url 'gambiarra:detalhes' c.pk %}"> <button
                                    class="btn btn-primary btn-sm">Acessar</button></a>
                            {% if c.status != '7' %}
                            <button
                                class="btn btn-warning btn-sm text-white" data-toggle="modal" data-target="#confirmCloseModal">Encerrar</button>

                                <!-- modal encerramento -->
                                <div class="modal fade" id="confirmCloseModal" tabindex="-1" role="dialog"
                                    aria-labelledby="confirmCloseModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmCloseModalLabel">Confirmar Encerramento
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza de que deseja encerrar este chamado? Esta ação não pode ser
                                                desfeita.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-terciary"
                                                    data-dismiss="modal">Cancelar</button>
                                                <form method="post" action="{% url 'gambiarra:encerrar' c.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Encerrar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if c.status >= '7' %}
                            <a href="#">
                                <button class="btn btn-danger btn-sm">Arquivar</button>
                            </a>
                            {% endif %}

                            {% endif %}

                        </th>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% endfor %}
        </div>

        <!-- Aceitos Tab -->
        <div class="tab-pane fade" id="aceitos" role="tabpanel" aria-labelledby="aceitos-tab">
            {% for c in chamados %}
            {% if c.status == '2' or c.status == '3' or c.status == '4' or c.status == '5' %}
            <table class="table table-hover mt-4">
                <thead>

                    <tr>
                        <th scope="col"><b>Código</b></th>
                        <th scope="col"><b>Título</b></th>
                        <th scope="col"><b>Status</b></th>
                        <th scope="col"><b>Professor</b></th>
                        <th scope="col"><b>Bolsista(s)</b></th>
                        <th scope="col"><b>Ações</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-dashboard">
                        <th scope="row">
                            {{c.code}}
                        </th>
                        <th>
                            {{c.titulo}}
                        </th>
                        <th>
                            {% if c.status == '1' %}
                            <span class="badge badge-secondary">{{ c.get_status_display }}</span>
                            {% elif c.status == '2' %}
                            <span class="badge badge-success">{{ c.get_status_display }}</span>
                            {% elif c.status == '3' or c.status == '4' %}
                            <span class="badge badge-info">{{ c.get_status_display }}</span>
                            {% elif c.status == '5' %}
                            <span class="badge badge-warning">{{ c.get_status_display }}</span>
                            {% elif c.status == '6' or c.status == '8' %}
                            <span class="badge badge-danger">{{ c.get_status_display }}</span>
                            {% elif c.status == '7' %}
                            <span class="badge badge-success">{{ c.get_status_display }}</span>
                            {% else %}
                            <span class="badge badge-secondary">{{ c.get_status_display }}</span>
                            {% endif %}

                        </th>
                        <th>
                            {% if c.professor %}
                            <img src="{{ c.professor.foto_perfil.url }}" alt="" width="25px" class="rounded-circle ">
                            {{c.professor}}
                            {% else %}
                            -
                            {% endif%}

                        </th>
                        <th scope="row">
                            {% if c.bolsistas.all %}
                            {% for b in c.bolsistas.all %}
                            <div class="mb-2 mt-2">
                                <img src="{{ b.foto_perfil.url }}" alt="Foto de perfil de {{ b.nome }}" width="25px"
                                    class="rounded-circle">
                                {{ b.nome }}
                            </div>
                            {% endfor %}
                            {% else %}
                            -
                            {% endif %}

                        </th>
                        <th>
                            <div class="button-group">
                                {% if request.user == c.cliente %}
                                <a href="{% url 'gambiarra:detalhes' c.pk %}">
                                    <button class="btn btn-primary btn-sm">Acessar</button>
                                </a>
                                {% if c.status >= '7' %}
                                <a type="button" data-toggle="modal" data-target="#exampleModal">
                                    <button class="btn btn-success btn-sm">Avaliar</button>
                                </a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ex
                                                            ampleModalLabel">Avaliar chamado</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" action="{% url 'gambiarra:avaliar' c.pk %}">
                                            <div class="modal-body">

                                                {% csrf_token %}

                                                {% bootstrap_form avaliar %}

                                                {% if avaliar.errors %}
                                                <div class="error">
                                                    <ul>
                                                        {% for field, errors in avaliar.errors.items %}
                                                        <li>{{ field }}: {{ errors|join:", " }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endif %}


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-terciary btn-sm"
                                                    data-dismiss="modal">Fechar</button>
                                                <button type="submit" class="btn btn-primary">Avaliar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% else %}
                            {% if c.status == '1' %}
                            <a href="{% url 'gambiarra:aceitar' c.pk %}"> <button
                                    class="btn btn-success btn-sm">Aceitar</button></a>
                            <button class="btn btn-danger btn-sm">Recusar</button>
                            {% endif %}
                            <a href="{% url 'gambiarra:detalhes' c.pk %}"> <button
                                    class="btn btn-primary btn-sm">Acessar</button></a>
                            {% if c.status != '7' %}
                            <button
                                class="btn btn-warning btn-sm text-white" data-toggle="modal" data-target="#confirmCloseModal">Encerrar</button>

                                <!-- modal encerramento -->
                                <div class="modal fade" id="confirmCloseModal" tabindex="-1" role="dialog"
                                    aria-labelledby="confirmCloseModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmCloseModalLabel">Confirmar Encerramento
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza de que deseja encerrar este chamado? Esta ação não pode ser
                                                desfeita.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-terciary"
                                                    data-dismiss="modal">Cancelar</button>
                                                <form method="post" action="{% url 'gambiarra:encerrar' c.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Encerrar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if c.status >= '7' %}
                            <a href="#">
                                <button class="btn btn-danger btn-sm">Arquivar</button>
                            </a>
                            {% endif %}

                            {% endif %}

                        </th>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% endfor %}
        </div>

        <div class="tab-pane fade" id="fechados" role="tabpanel" aria-labelledby="fechados-tab">
            {% for c in chamados %}
            {% if c.status == '6' or c.status == '7' or c.status == '8' %}
            {% with found=True %}
            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col"><b>Código</b></th>
                        <th scope="col"><b>Título</b></th>
                        <th scope="col"><b>Status</b></th>
                        <th scope="col"><b>Professor</b></th>
                        <th scope="col"><b>Bolsista(s)</b></th>
                        <th scope="col"><b>Ações</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-dashboard">
                        <th scope="row">
                            {{c.code}}
                        </th>
                        <th>
                            {{c.titulo}}
                        </th>
                        <th>
                            {% if c.status == '1' %}
                            <span class="badge badge-secondary">{{ c.get_status_display }}</span>
                            {% elif c.status == '2' %}
                            <span class="badge badge-success">{{ c.get_status_display }}</span>
                            {% elif c.status == '3' or c.status == '4' %}
                            <span class="badge badge-info">{{ c.get_status_display }}</span>
                            {% elif c.status == '5' %}
                            <span class="badge badge-warning">{{ c.get_status_display }}</span>
                            {% elif c.status == '6' or c.status == '8' %}
                            <span class="badge badge-danger">{{ c.get_status_display }}</span>
                            {% elif c.status == '7' %}
                            <span class="badge badge-success">{{ c.get_status_display }}</span>
                            {% else %}
                            <span class="badge badge-secondary">{{ c.get_status_display }}</span>
                            {% endif %}

                        </th>
                        <th>
                            {% if c.professor %}
                            <img src="{{ c.professor.foto_perfil.url }}" alt="" width="25px" class="rounded-circle ">
                            {{c.professor}}
                            {% else %}
                            -
                            {% endif%}

                        </th>
                        <th scope="row">
                            {% if c.bolsistas.all %}
                            {% for b in c.bolsistas.all %}
                            <div class="mb-2 mt-2">
                                <img src="{{ b.foto_perfil.url }}" alt="Foto de perfil de {{ b.nome }}" width="25px"
                                    class="rounded-circle">
                                {{ b.nome }}
                            </div>
                            {% endfor %}
                            {% else %}
                            -
                            {% endif %}

                        </th>
                        <th>
                            <div class="button-group">
                                {% if request.user == c.cliente %}
                                <a href="{% url 'gambiarra:detalhes' c.pk %}">
                                    <button class="btn btn-primary btn-sm">Acessar</button>
                                </a>
                                {% if c.status >= '7' %}
                                <a type="button" data-toggle="modal" data-target="#exampleModal">
                                    <button class="btn btn-success btn-sm">Avaliar</button>
                                </a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ex
                                                            ampleModalLabel">Avaliar chamado</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" action="{% url 'gambiarra:avaliar' c.pk %}">
                                            <div class="modal-body">

                                                {% csrf_token %}

                                                {% bootstrap_form avaliar %}

                                                {% if avaliar.errors %}
                                                <div class="error">
                                                    <ul>
                                                        {% for field, errors in avaliar.errors.items %}
                                                        <li>{{ field }}: {{ errors|join:", " }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endif %}


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-terciary btn-sm"
                                                    data-dismiss="modal">Fechar</button>
                                                <button type="submit" class="btn btn-primary">Avaliar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% else %}
                            {% if c.status == '1' %}
                            <a href="{% url 'gambiarra:aceitar' c.pk %}"> <button
                                    class="btn btn-success btn-sm">Aceitar</button></a>
                            <button class="btn btn-danger btn-sm">Recusar</button>
                            {% endif %}
                            <a href="{% url 'gambiarra:detalhes' c.pk %}"> <button
                                    class="btn btn-primary btn-sm">Acessar</button></a>
                            {% if c.status != '7' %}
                            <button
                                class="btn btn-warning btn-sm text-white" data-toggle="modal" data-target="#confirmCloseModal">Encerrar</button>

                                <!-- modal encerramento -->
                                <div class="modal fade" id="confirmCloseModal" tabindex="-1" role="dialog"
                                    aria-labelledby="confirmCloseModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmCloseModalLabel">Confirmar Encerramento
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza de que deseja encerrar este chamado? Esta ação não pode ser
                                                desfeita.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-terciary"
                                                    data-dismiss="modal">Cancelar</button>
                                                <form method="post" action="{% url 'gambiarra:encerrar' c.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Encerrar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>F
                            {% endif %}
                            {% if c.status >= '7' %}
                            <a href="#">
                                <button class="btn btn-danger btn-sm">Arquivar</button>
                            </a>
                            {% endif %}

                            {% endif %}

                        </th>
                    </tr>
                </tbody>
            </table>
            {% endwith %}
            {% endif %}
            {% endfor %}
        </div>
    </div>


</div>
{% endblock %}